/*пробуем заменить все на калк*/
.places {
  display: grid;
  /* width: 984px; */
  width: 100%;
  max-width: 1280px;
  padding: 0 148px 0;
  box-sizing: border-box;
  justify-content: center;
  align-self: center;
  align-items: center;
  row-gap: 80px;
  background-color: brown;
}

@media screen and (max-width: 1124px) {
  .places {
    padding: 0 48px 0;
    width: 928px;
    /* width: 100%; */
    /* width: calc(100% - 48px); */
    /* margin: auto; */
  }
}

@media screen and (max-width: 984px) {
  .places {
    padding: 0 24px 0;
    max-width: 720px;
    /* width: calc(100% - 24px); */
  }
}

 @media screen and (max-width: 769px) {
  .places {
    /* padding: 0 24px 0; */
    min-width: 720px;
    /* width: 100%; */
    /* width: calc(100% - 24px); */
  }
}


@media screen and (max-width: 568px) {
  .places {
    min-width: 320px;
    padding: 0 16px 0;
  }
}
