.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 984px;
}

@media screen and (max-width: 1124px) {
  .lead {
      max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .lead {
      max-width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .lead {
      width: 100%;
  }
}

@media screen and (max-width: 568px) {
  .lead {
      max-width: 320px;
      padding: 0 0 64px;
      box-sizing: border-box;
  }
}
