.lead {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    box-sizing: border-box;
    max-width: 1280px;
    height: 1005px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
@media screen and (max-width: 1124px) {
    .lead {
      width: 928px;
      height: 962px;
      margin: 0 auto;
    }
  }

  @media screen and (max-width: 984px) {
    .lead {
      width: 768px;
      max-height: 862px;
    }
  }
/*проба*/
   @media screen and (max-width: 767px) {
    .lead {
      width: 100%;
     }
  }

  @media screen and (max-width: 568px) {
    .lead {
      height: 406px;
      width: 320px;
      padding-left: 2px;
      padding-right: 2px;
    }
  }
