.lead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 984px;
    max-height: 1005px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    background-color: brown;
}
@media screen and (max-width: 1124px) {
    .lead {
      height: 962px;
      width: 928px;
      background-color: green;
    }
  }

  @media screen and (max-width: 984px) {
    .lead {
      height: 862px;
      width: 768px;
      background-color: blue;
    }
  }

  @media screen and (max-width: 769px) {
    .lead {
      height: 100%;
      width: 100%;
      background-color: goldenrod;
     }
  }

  @media screen and (max-width: 568px) {
    .lead {
      height: 406px;
      width: 320px;
      background-color: blueviolet;
    }
  }
