.header {
    display: flex;
    justify-content: space-between;
    align-self: center;
    align-items: flex-end;
    padding: 0 48px 0;
    box-sizing: border-box;
    min-width: 90%;
    max-width: 1184px;
    min-height: 52px;
    font-family: 'Inter', Arial, sans-serif;
}
@media screen and (max-width: 1124px) {
    .header {
        width: 928px;
    }
  }
  @media screen and (max-width: 984px) {
    .header {
        width: 720px;
        padding: 0 24px 0;
    }
  }

  @media screen and (max-width: 769px) {
    .header {
        width: 288px;
        height: 42px;
        padding: 0 16px 0;
    }
  }

  @media screen and (max-width: 568px) {
    .header {
        min-width: 80%;
    }
  }
