.footer__links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  justify-content: flex-end;
  list-style-type: none;
}

@media screen and (max-width: 767px) {
  .footer__links {
      flex-wrap: wrap;
      flex-direction: column;
      gap: 32px;
      box-sizing: border-box;
      padding: 0 0 48px 16px;
  }
}
