.footer__copyright {
  margin: 0;
  padding: 0;
  line-height: 1.14;
  font-size: 14px;
  font-weight: normal;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 568px) {
  .footer__copyright {
      line-height: 1;
      padding: 0 0 0 16px;
  }
}
