.content__intro {
  padding-left: 148px;
  padding-right: 442px;
  width: 100%;
  box-sizing: border-box;
  background-color: aquamarine;
  /* margin: 0 auto; */
}

@media screen and (max-width: 1124px) {
  .content__intro {
    padding-left: 48px;
    padding-right: 286px;
  }
}

@media screen and (max-width: 769px) {
  .content__intro {
    padding-left: 0 24px 0;
  }
}

@media screen and (max-width: 568px) {
  .content__intro {
    padding: 0 16px 0;
  }
}

