.content__section {
  box-sizing: border-box;
  margin: 0 148px 0;
  width: 100%;
  /* margin: 0 auto; */
}

@media screen and (max-width: 1124px) {
  .content__section {
    margin: 0 48px 0;
  }
}

@media screen and (max-width: 984px) {
  .content__section {
    margin: 0;
  }
}

/*возможно стоит убрать, проба для разрешения 786*/
@media screen and (max-width: 769px) {
  .content__section {
    margin: 0;
  }
}

@media screen and (max-width: 568px) {
  .content__section {
    margin: 0 2px 0;
  }
}

