.lead__caption {
    margin: 0;
    padding: 8px 0 0;
    line-height: 1.4;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: start;
    display: flex;
    align-self: flex-start;
}


@media screen and (max-width: 984px) {
  .lead__caption {
    padding: 8px 0 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .lead__caption {
    padding: 8px 0 0 16px;
  }
}
