.footer {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 48px 0;
  min-width: 100%;
  max-width: 1184px;
}

@media screen and (max-width: 1124px) {
  .footer {
      max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .footer {
      max-width: 720px;
      padding: 0 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
      max-width: 100%;
      grid-auto-flow: row;
      grid-template-columns: minmax(min-content, max-content);
      justify-content: center;
      padding: 0;
  }
}

@media screen and (max-width: 568px) {
  .footer {
      max-width: 320px;
      justify-content: flex-start;
  }
}
