.footer {
  display: grid;
  justify-content: space-between;
  box-sizing: border-box;
  grid-auto-flow: column;
  align-self: center;
  padding: 0 48px 0;
  min-width: 100%;
  max-width: 1184px;
}

@media screen and (max-width: 1124px) {
  .footer {
      max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .footer {
      max-width: 720px;
      padding: 0 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .footer {
      max-width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .footer {
      max-width: 320px;
      grid-auto-flow: row;
      grid-template-columns: minmax(min-content, max-content);
      padding-left: 16px;
  }
}
