.header__lang-links {
  display: flex;
  align-self: flex-end;
  padding: 0;
  margin: 0;
  gap: 20px;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
  text-align: right;
  list-style-type: none;
}

@media screen and (max-width: 568px) {
  .header__lang-links {
      font-size: 18px;
      line-height: 1.11;
  }
}
