.place__website {
  display: grid;
  align-self: flex-end;
}

@media screen and (max-width: 767px) {
  .place__website {
      padding: 0 24px 0;
      box-sizing: border-box;
  }
}

@media screen and (max-width: 568px) {
  .place__website {
      padding: 0 16px 0;
  }
}

